* {
  padding: 5px;
  margin: 5px;
  /* background: #f5f5f7; */
  color:  #0b0b0c;

  /* need to add roboto if still wanna use that; rn using Helvetica */
  font-family: Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
}

body {
  background: #f5f5f7;
}

#logo {
  width: 13%;
  display: block;
}

#buyTickets {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: 350;
  background-color: #588d53;
  color: white;
  text-decoration: none;
  border-radius: 12px;
}

nav a {
  text-decoration: none;
  color: #0b0b0c;
  font-weight: 350;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
  border-color: #4d5c3b;
  }

.active {
  color: #588d53;
  font-weight: bold;
  
}

#copyYear {
  border-top: 1px solid rgba(245,245,247,.12);
  padding: 18px 16px;
  text-align: center;
  color: #0b0b0c;
  font-size: 14px;
  }



th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #b3d7b3;
}


form * {
  display: block;
  margin-left: 0;
  /* margin: auto; */
  /* text-align: center; */
}

button {
  margin-top: 15px;
}

#purchaseForm {
  display: none;
  margin-top: 20px;
}

.main_img img {
  width: 100%;
  height: auto;
  max-height: 400px; /* adjust this */
  object-fit: cover;
}

.container {
  display: grid; /* Turns this div into a CSS Grid layout */
  grid-template-areas:   /* Defines the layout structure */
    'header header'
    'nav_bar nav_bar'
    'main main-img'
    'footer footer';
}

/* Places each element into the correct area of the grid */
.header {
   grid-area: header; 
}
.nav_bar {
   grid-area: nav_bar; 
}
.main {
  grid-area: main; 
}
.main_img {
   grid-area: main-img; 
}
.footer {
   grid-area: footer;
}

.nav_bar {
   grid-area: nav_bar;
   display: flex; /* Uses Flexbox for internal layout */
   justify-content: center;   /* Right aligns the content */
}

#longIntro, #readLess {
  display: none;
}

@media (max-width: 650px) {
   /* Your CSS code for the mobile layout */
}

