<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>

</head>

<header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <h1>Explore</h1>

    <nav>
        <a href="../index.html">Home</a>
        <a id="navselected" href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
</header>
    <img src="../static/museum.jpg" alt="Museum building">

    <p>Mission statement...</p>

    <ul>
    <li>Founded in 2016</li>
    <li>Focus on digital art</li>
    <li>International exhibitions</li>
    </ul>
<footer>
    <p>© 2026 MonoMuse. All rights reserved.</p>
</footer>








