<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>

    <title>Checkout Page</title>

</head>

<body onload="addYear()">

<header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <h1>Checkout</h1>

    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
        <a id="navselected" href="checkout.html">Checkout</a>
    </nav>
</header>
    <p>Name(required)</p>
    <form>
    <input type="text" placeholder="Name" required>
    </form>

    <p>Email(required)</p>
    <form> <input type="email" placeholder="Email" required> </form>

    <p>Ticket Quantity(required)</p>
    <form> <input type="number" placeholder="Ticket Quantity" required> </form>
    
    <!-- <button type=”submit” value=”#”> Submit </button> -->
    <button>Submit</button>
<footer>
    <p id="copyYear"></p>
    MonoMuse. All rights reserved.
</footer>

</body>






