<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

    <title>Checkout Page</title>

</head>

<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
            <h1>Checkout</h1>
        </header>

        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
        <!-- <form>
            <p>Name (required)</p>
            <input type="text" placeholder="Name" required>

            <p>Email (required)</p>
            <input type="email" placeholder="Email" required>

            <p>Ticket Quantity (required)</p>
            <input type="number" placeholder="Ticket Quantity" required>

            <button type="submit">Submit</button>
        </form> -->

        <form>
            <label for="name">Name (required)</label>
            <input type="text" id="name" placeholder="Name" required>

            <label for="email">Email (required)</label>
            <input type="email" id="email" placeholder="Email" required>

            <label for="quantity">Ticket Quantity (required)</label>
            <input type="number" id="quantity" placeholder="Ticket Quantity" required>

            <button type="submit">Submit</button>
        </form>

        <footer class="footer">
            <p id="copyYear"></p>
            <!-- MonoMuse. All rights reserved. -->
        </footer>
    </div>
</body>
</html>






